<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMUP">
        <activity
            android:name=".start.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.alarm.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.SchoolActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.RingActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.UserActivity"
            android:exported="false" />
        <activity
            android:name=".soom.SoomActivity"
            android:exported="false" />
        <activity
            android:name=".soom.MakeSoomActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>